<!doctype html>
<html>
  <head>
    {% load static %}
    <title>Index</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{%static 'stylesI.css'%}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="parent-div">
      <div class="desktop--1-14 pos-abs">
        <!-- Navbar Logo Left1 -->
        <section class="navbar-logo-lef-5175 pos-abs">
          <div class="navbarcontainer-5176 pos-abs">
            <div class="navbar-content-5177 pos-abs">
              <div class="navbar-brand-5178 pos-abs">
                <div class="aictelogoremove-5179 pos-abs">
                  <img
                    src="{%static 'imagesI/image0.png'%}"
                    class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-5179"
                    alt="AICTE-logo-removebg 11 Image"
                  />
                </div>
              </div>
              <div class="navbar-menu-5180 pos-abs">
                <div class="navbar-link-5181 pos-abs">
                  <div class="about-5182 pos-abs">
                    <span class="about-5182-0"><a href = "#about_section" style="text-decoration:none; color:inherit;">About</a></span>
                  </div>
                </div>
                <div class="navbar-link-5183 pos-abs">
                  <div class="features-5184 pos-abs">
                    <span class="features-5184-0"><a href = "#features_section"style="text-decoration:none; color:inherit;">Features</a></span>
                  </div>
                </div>
                <div class="navbar-button-5185 pos-abs">
                  <div class="login-5186 pos-abs">

                    <span class="login-5186-0"><a href = "{% url 'login' %}" style="text-decoration:none; color:inherit;">LOGIN</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Group 41 -->
        <section class="group-4-5187 pos-abs">
          <div class="rectangle-4-513 pos-abs"></div>
          <div class="img0260removebg-43 pos-abs">
            <img
              src="{%static 'imagesI/image1.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-43"
              alt="IMG_0260-removebg-preview 11 Image"
            />
          </div>
          <div class="rectangle-5-514 pos-abs"></div>
          <div class="pmusp-1-520 pos-abs">
            <img
              src="{%static 'imagesI/image2.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-520"
              alt="pm_usp 11 Image"
            />
          </div>
          <div class="scholarships-he-58 pos-abs">
            <span class="scholarships-he-58-0"
              >"Scholarships help in bridging the gap between different sections
              of society. They ensure that talented students, regardless of
              their economic background, get the opportunity to pursue their
              dreams."</span
            >
          </div>
          <div class="screenshot20240-521 pos-abs">
            <img
              src="{%static 'imagesI/image3.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-521"
              alt="Screenshot_2024-08-29_at_10.06.08_PM-removebg-preview 11 Image"
            />
          </div>
          <div class="honble-prime-mi-946 pos-abs">
            <span class="honble-prime-mi-946-0">Hon’ble Prime Minister</span>
          </div>
          <div class="line-1-510 pos-abs"></div>
        </section>
        <!-- Navbar Logo Left2 -->
        <section class="navbar-logo-lef-7706 pos-abs">
          <div class="navbarcontainer-7707 pos-abs">
            <div class="navbar-content-7708 pos-abs">
              <div class="navbar-menu-7711 pos-abs">
                <div class="navbar-link-7712 pos-abs">
                  <div class="about-7713 pos-abs">
                    <span class="about-7713-0"></span>
                  </div>
                </div>
                <div class="navbar-link-7714 pos-abs">
                  <div class="features-7715 pos-abs">
                    <span class="features-7715-0">Features</span>
                  </div>
                </div>
                <div class="navbar-link-7716 pos-abs">
                  <div class="pricing-7717 pos-abs">
                    <span class="pricing-7717-0">Pricing</span>
                  </div>
                </div>
                <div class="navbar-button-7718 pos-abs">
                  <div class="get-started-7719 pos-abs">
                    <span class="get-started-7719-0">GET STARTED</span>
                  </div>
                </div>
              </div>
              <div class="navbar-brand-7709 pos-abs">
                <div class="logo-7710 pos-abs">
                  <img
                    src="{%static 'imagesI/image4.png'%}"
                    class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-7710"
                    alt="Logo1 Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Group 11 -->
        <section class="group-1-59 pos-abs" >
          <div class="rectangle-3-57 pos-abs"></div>
          <div class="rectangle-2-56 pos-abs"></div>
        </section>
        <div class="image-1-516 pos-abs">
          <img
            src="{%static 'imagesI/image5.png'%}"
            class="pos-abs image-div bg-no-repeat bg-crop nodeBg-516"
            alt="image 11 Image"
          />
        </div>
        <!-- Group 51 -->
        <section class="group-5-51100 pos-abs" id="about_section">
          <div class="rectangle-7-69 pos-abs"></div>
          <div class="rectangle-6-522 pos-abs"></div>
          <div class="what-is-pmss-20-523 pos-abs">
            <span class="what-is-pmss-20-523-0"
              >What is PMSS 2024 Scholarship?</span
            >
          </div>
          <div class="education-minis-813 pos-abs">
            <img
              src="{%static 'imagesI/image6.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-813"
              alt="education minister 11 Image"
            />
          </div>
          <div class="facilitate-acce-64 pos-abs">
            <span class="facilitate-acce-64-0"
              >Facilitate access to quality education with an aim to equip youth
              with knowledge, skills, experience and training for higher
              academic level/ profession.<br /><br />To build capabilities of
              the youth of UTs of Jammu & Kashmir and Ladakh by educating,
              enabling and empowering them to compete at national level.<br /><br />To
              provide the youth of UTs of Jammu & Kashmir and Ladakh, an
              exposure to the culture, language and livelihood of other States
              and Union Territories to promote national integration.</span
            >
          </div>
          <div class="honble-union-mi-815 pos-abs">
            <span class="honble-union-mi-815-0"
              >Hon’ble Union Minister of Education</span
            >
          </div>
        </section>
        <!-- Group 61 -->
        <section class="group-6-51101 pos-abs" id = "features_section">
          <div class="rectangle-8-711 pos-abs"></div>
          <div class="rectangle-9-712 pos-abs"></div>
          <div class="paperlessfastef-821 pos-abs">
            <span class="paperlessfastef-821-0">PAPERLESS.FAST.EFFICIENT.</span>
          </div>
          <div class="get-everything--822 pos-abs">
            <span class="get-everything--822-0">
              Get everything related to the scholarship from your online portal without any physical hassel.<br>
              1. Create an account.<br>
              2. Upload the required documents.<br>
              3. Wait for them to get verified .<br>
              4. Get allocated with the scholarship.
              
            </span>
          </div>
          <div class="screenshot-2024-528 pos-abs">
            <img
              src="{%static 'imagesI/image7.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-528"
              alt="Screenshot 2024-08-29 at 10.23.22 PM 11 Image"
            />
          </div>
          <div class="img370c6ad0ea6a-816 pos-abs">
            <img
              src="{%static 'imagesI/image8.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-816"
              alt="IMG_370C6AD0EA6A-1 11 Image"
            />
          </div>
          <div class="create-an-accou-823 pos-abs"></div>
          <div class="img44590445c821-818 pos-abs">
            <img
              src="{%static 'imagesI/image9.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-818"
              alt="IMG_44590445C821-1 11 Image"
            />
          </div>
        </section>
        <!-- Group 71 -->
        <section class="group-7-51131 pos-abs">
          <div class="rectangle-10-825 pos-abs"></div>
          <div class="imgf2cf8ad38bd2-824 pos-abs">
            <img
              src="{%static 'imagesI/image10.png'%}"
              class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-824"
              alt="IMG_F2CF8AD38BD2-1-removebg-preview 11 Image"
            />
          </div>
          <div class="group-2-832 pos-abs">
            <div class="rectangle-11-827 pos-abs"></div>
            <div class="brochure-831 pos-abs">
              <span class="brochure-831-0"><a href = "https://www.aicte-india.org/sites/default/files/pmsss2020/2023-24/Prime%20Minister_PMSSS_FINAL_Brochure.pdf">Brochure</a></span>
            </div>
          </div>
          <div class="for-more-detail-826 pos-abs">
            <span class="for-more-detail-826-0"
              >For more details please check the &nbsp;</span
            >
          </div>
        </section>
        <!-- Footer1 -->
        <section class="footer-51102 pos-abs">
          <div class="columns-51103 pos-abs">
            <div class="navbar-brand-522 pos-abs">
              <div class="aictelogoremove-523 pos-abs">
                <img
                  src="{%static 'imagesI/image0.png'%}"
                  class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-523"
                  alt="AICTE-logo-removebg 11 Image"
                />
              </div>
            </div>
            <div class="small-columns-51107 pos-abs">
              <div class="column-51108 pos-abs">
                <div class="content-51109 pos-abs">
                  <div class="company-51110 pos-abs">
                    <span class="company-51110-0">COMPANY</span>
                  </div>
                  <div class="footer-links-51111 pos-abs">
                    <div class="link-51112 pos-abs">
                      <span class="link-51112-0">How it works</span>
                    </div>
                    <div class="link-51113 pos-abs">
                      <span class="link-51113-0">Pricing</span>
                    </div>
                    <div class="link-51114 pos-abs">
                      <span class="link-51114-0">Demo</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column-51115 pos-abs">
                <div class="content-51116 pos-abs">
                  <div class="resources-51117 pos-abs">
                    <span class="resources-51117-0">RESOURCES</span>
                  </div>
                  <div class="footer-links-51118 pos-abs">
                    <div class="link-51119 pos-abs">
                      <span class="link-51119-0">Blog post name goes here</span>
                    </div>
                    <div class="link-51120 pos-abs">
                      <span class="link-51120-0">Blog post name goes here</span>
                    </div>
                    <div class="link-51121 pos-abs">
                      <span class="link-51121-0">Blog post name goes here</span>
                    </div>
                    <div class="link-51122 pos-abs">
                      <span class="link-51122-0">See all resources</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column-51123 pos-abs">
                <div class="content-51124 pos-abs">
                  <div class="about-51125 pos-abs">
                    <span class="about-51125-0">ABOUT</span>
                  </div>
                  <div class="footer-links-51126 pos-abs">
                    <div class="link-51127 pos-abs">
                      <span class="link-51127-0">Terms & Conditions</span>
                    </div>
                    <div class="link-51128 pos-abs">
                      <span class="link-51128-0">Privacy Policy</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-51129 pos-abs">
            <div class="text-51130 pos-abs">
              <span class="text-51130-0">Copyright © 2022 Company name</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
